<h1>Редактировать новость</h1>
<%=  form_for @post, url: posts_path, html: { method: :put,multipart: true } do |f| %>
<%= render 'form', f: f %>  

<!-- <%= form_for Post, url: posts_path, :html => {:multipart => true}  do |f| %>
	<p>
		<%= f.label :title  %>
		<%= f.text_field :title  %>
	</p>
	<p>
		<%= f.label :content  %>
		<%= f.text_area :content, size: "50x30"  %>
	</p>
	<p>
		<%= f.label :image  %>
		<%= f.file_field :image %>
	</p>
		
		<p>
			
			<%= f.submit%>
		</p>
<% end %>
-->

