

<h1 class="text-center">Самые интересные новости в сети!</h1>
<!-- <div class="container"> -->
	<div class="btn btn-show"></div>
	<div class="row">
		<div class="col-md-offset-1">
		<% @posts.each do |post| %>
			<div class="col-md-2">
				<div class="front-image">
					<%= image_tag post.image.url(:small) %>
				</div>
				<p class="front-post">
					<%= post.content %>
				</p>
				<% if admin_signed_in? %>
					<div class="button btn btn-success">
						<%= link_to 'Edit', edit_post_path(@post) %> 
					</div>
					<div class="button btn btn-danger">
			  			<%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' } %>
			  		</div>
					<div class="button btn btn-info">
						<%= link_to "Show post", post %>
					</div>
					<div class="button btn btn-primary">
						<%= link_to 'New Post', new_post_path  %>
					</div>
				<% end %>
			</div>
		<% end %>
			
		
		<div class="col-md-offset-1">
	</div>
	

</div>

<!-- </div> -->
<!-- -->
