<!DOCTYPE html>
<html>
<head>
  <title>NewsPortal</title>
  <%= stylesheet_link_tag    'default', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'default', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "application", :media => "all" %>

</head>
<body>
	<div id="sidebar">
		<div class="col-md-2">
			<%=  @posts.each do |post| %>
				<%= image_tag post.image.url(:small) %>
				<%= truncate(post.content, length: 20) %>
			<% end %>
		</div>
		
	</div>
<div class="container-fluid">
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
	<%= yield %>
</div>
</body>
</html>
